defusedxml==0.4.1
dj-static==0.0.6
Django==1.9.4
django-filter==0.13.0
django-rest-swagger==0.3.5
django-tokenapi==0.2.5
djangorestframework==3.3.2
djangorestframework-jwt==1.7.2
gunicorn==19.4.5
oauthlib==1.0.3
Pillow==3.1.1
psycopg2==2.6.1
PyJWT==1.4.0
python-social-auth==0.2.14
python3-openid==3.0.9
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
static3==0.6.1
whitenoise==2.0.6
